$color-primary: #0ba0be;
$color-primary-light-1: rgba($color-primary, .5);
$color-primary-dark-1: #0f8da7;
$color-primary-dark-2: #08778e;

$color-blue-grey: #7e8f9f;

$color-gray-light-1: #f7f9fa;
$color-gray-light-2: #e4e8ed;

$color-white: #ffffff;
$color-black: #1b1b1b;



//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Font sizes
$default-font-size: 1.6rem;