*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-image: url(../../img/mask-copy.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

figure {
  margin: 0;
  padding: 0;
}