.top__content {
  text-align: center;
  margin-top: 10.6rem;
  margin-bottom: 8rem;
  p {
    font-size: 1.8rem;
    color: $color-blue-grey;
  }

  @include respond(phone) {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
}

.contact__container {
  margin-bottom: 21.7rem;

  @include respond(phone) {
    margin-bottom: 8rem;
  }
}